*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-color: rgb(22,21,19);
}

#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(22,21,19);
    color: white;
    align-items: center;
    padding: 10px;
    height: 70px;
}

#navbar{
    display: flex;
    padding: 6px;
}
#logoHolder a{
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
}
.absolute{
    background-color: white;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    max-width: 40px;
    max-height: 40px;
    padding: 4px;
}
.absolute img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#headerH2{
    display: inline-flex;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    width: 166.16px;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 0;
}

.languageIcons{
    display: flex;
    flex-direction: row;
}
.languageIcons a{
    text-decoration: none;
    padding: 4px;
}
#contact{
    display: inline;
    text-decoration: none;
    color: rgb(17,24,39);
    border-radius: 8px;
    background-color: rgb(242, 202,44);
    text-wrap: nowrap;
    padding: 1px 8px;
}
.relative{
    position: relative;
    background-color: rgb(22,21,19);
}
#section1{
    width: 100%;
    max-height: calc(100vh - 70px);
    /*background-image: url('../imgs/section1.jpg');*/
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper1{
    position: relative;
    width: 100%;
    background-color: rgb(17,24,39);
    opacity: 0.2;
}
#section1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#section1Text{
    position: absolute;
    width: auto;
    z-index: 1;
    color: white;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    word-break:keep-all;
    padding: 20px;
    background-color:transparent;
    backdrop-filter: blur(6px);
}

#section1Text:has(h2,p){
    margin: 2px;
    padding: 4px;
}


.wrapper2{
    min-height: 50vh;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white              ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.relative3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 20px;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}

.wrapper3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.relative3 img{
    width: 100px;
    height: 100px;
}

.relative3 span{
    padding: 6px;
    font-size: 20px;
    font-weight: 800;
}
.relative3 p{
    padding: 6px;
}

.experience,.cases,.winRate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative4{
    display: flex;
    flex-direction: column;
    color: white;
}

.relative4 h2{
    padding: 20px;
    text-align: center;
}

.wrapper4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    width: 100%;
}

.card{
    width: 100%;
    max-width: 20rem;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px gold;
}

.card-header{
    padding: 0;
    margin: 0;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-header img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-body{
    color: white;
}

.relative5{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 20px;
    margin: 20px 0;
}

.relative5 h2{
    font-weight: 900;
    color: white;
    padding: 20px;
}

.relative5 span{
    font-weight: 800;
}
#aboutUsCard{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.relative5 .card-body{
    max-width: 400px;
    width: 100%;
}
.relative5 p{
    padding: 20px;
}
.relative5 img{
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    aspect-ratio: 1/1;
}

.relative6{
    max-width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    color: white;
}
#map{
    width: 100%;
    max-width: 600px;
    height: 300px;
    border-radius: 10px;
}

.location{
    padding: 16px;
}

.relative7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background-color: #313030;
    color: white;
}
.row{
    width: 100%;
    justify-content: center;
}

.relative7 h2{
    padding: 20px;
    text-align: center;
}
.relative7 p{
    width: 50%;
    text-wrap: wrap;
    word-break: keep-all;
    padding: 0 40px;
}

form{
    padding: 40px;
    justify-content: center;
    align-items: center;
}

form div{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}

.form-control{
    padding: 10px;
    margin: 10px 0;
    text-align: start;
    background-color: #555353;
    color: white;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.spanName,.spanEmail, .spanMsg{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition: top .7s, transform .7s;
    pointer-events: none;
    color: white;
    border-radius: 6px;
}

form input:focus + span,form textarea:focus + span, input:not(:placeholder-shown) + span, textarea:not(:placeholder-shown) + span{
    top: -3px;
    transform: translateY(0);
    transform: scale(.8);
    color: rgb(201, 198, 198);
    background-color: #555353;
    outline: 1px solid gold !important;
    border-radius: 6px !important;
    box-shadow: none !important;
    padding: 2px 4px;
}
.form-control:focus {
    background-color: #555353;
    outline: none !important;
    color: white;
    text-align: start;
    outline: 1px solid gold !important;
}
.form-control:not(:focus)+ span{
    outline: none !important;
}
button{
    display: inline;
    text-decoration: none;
    color: rgb(17,24,39);
    border-radius: 8px;
    background-color: rgb(242, 202,44);
    text-wrap: nowrap;
    margin: 10px 0;
    padding: 4px 8px;
    border: none;
}

.row-cols-2{
    padding: 0;
    margin: 0;
    justify-content: center;
    max-width: 100%;
}

.col-4{
    padding: 50px 0;
    justify-content: start;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
}
.lawyers{
    max-width: 100%;
}
.lawyers p{
    display: inline-flex;
    width: 100%;
    padding: 0 4px;
    margin: 0;
    text-align: start;
}
.lawyers:not(:first-child){
    margin: 22px 0;
}
span img, address img{
    width: 20px;
}
address{
    display: flex;
    flex-direction: column;
}
address span{
    margin: 6px 0;
}
address span img{
    margin-right: 4px;
}
footer{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #313030;
    padding: 10px;
    color: white;
}

.footerLogo{
    background-color: white;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    max-width: 40px;
    max-height: 40px;
    padding: 4px;
    margin-bottom: 10vh;
    border-radius: 10px;
}
.footerLogo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#footerH2{
    display: inline-flex;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    max-width: 120px;
    margin-left: 10px;
    margin-bottom: 0;
}
#copyright{
    position: absolute;
    bottom: 0;
    left: 0;
}
.error{
    display: none;
    flex-direction: row;
    background-color: rgb(228, 66, 66);
    color: white;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.success{
    display: none;
    flex-direction: row;
    background-color: rgba(93, 240, 130, 0.89);
    color: white;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 991px){
    .relative6{
        padding: 40px 14px;
    }
    .relative7{
        padding: 40px 20px;
    }
    .wrapper2{
        max-width: 100% !important;
        padding: 20px;
    }
    #aboutUsCard{
        flex-direction: column-reverse;
    }
    form{
        width: 100%;
    }
    .relative7 p{
        width: 100%;
    }
}

@media (max-width: 768px){
    .relative6{
        flex-direction: column-reverse;
    }
    .row-cols-2{
        display: flex;
        flex-direction: column;
    }
    form, .col-4{
        width: 100% !important;
    }
    .col-4{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .contacts,address{
        margin-left: auto;
        margin-right: auto;
    }
}



@media (max-width: 651px){
    #header{
        width: 100%;
        padding: 0;
    }
    #navbar{
        padding: 0;
    }
    #contact, #languages{
        transform: scale(.8);
    }
    .relative7{
        padding: 40px 0;
    }
    .contacts,address{
        margin: 0 60px;
    }
}