*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: rgb(17,24,39);
}

#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(22,21,19);
    color: white;
    align-items: center;
    padding: 10px;
    height: 70px;
}

#navbar{
    display: flex;
    padding: 6px;
}
#logoHolder a{
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 4px;
    align-items: center;
}
.absolute{
    background-color: white;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    max-width: 40px;
    max-height: 40px;
    padding: 4px;
}
.absolute img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#headerH2{
    display: inline-flex;
    color: white;
    font-size: 16px;
    line-height: 1.2;
    width: 166.16px;
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 0;
}

.languageIcons{
    display: flex;
    flex-direction: row;
}
.languageIcons a{
    text-decoration: none;
    padding: 4px;
}
#contact{
    display: inline;
    text-decoration: none;
    color: rgb(17,24,39);
    border: 2px solid rgb(242, 202,44);
    border-radius: 8px;
    background-color: rgb(242, 202,44);
    text-wrap: nowrap;
}
.relative{
    position: relative;
    background-color: rgb(22,21,19);
}
#section1{
    width: 100%;
    height: calc(100vh - 70px);
    background-image: url('../imgs/section1.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper1{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(17,24,39);
    opacity: 0.2;
}
#section1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#section1Text{
    position: absolute;
    width: auto;
    z-index: 1;
    color: white;
    top: 50%;
    left: 10%;
    word-break:keep-all;
    padding: 20px;
    background-color:transparent;
    backdrop-filter: blur(6px);
}

#section1Text h2,p{
    margin: 2px;
    padding: 4px;
}


.wrapper2{
    min-height: 50vh;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white              ;
    text-align: center;
}
.relative3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 40px 20px;
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}

.wrapper3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.relative3 img{
    width: 100px;
    height: 100px;
}

.relative3 span{
    padding: 6px;
    font-size: 20px;
    font-weight: 800;
}
.relative3 p{
    padding: 6px;
}

.experience,.cases,.winRate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relative4{
    display: flex;
    flex-direction: column;
    color: white;
}

.relative4 h2{
    padding: 20px;
    text-align: center;
}

.wrapper4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px;
    width: 100%;
}

.card{
    width: 20rem;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px gold;
}

.card-header{
    padding: 0;
    margin: 0;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-header img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-body{
    color: white;
}